<div class="footer">
    <div class="pull-right">
        <strong><a href="https://myems.io">https://myems.io</a></strong>
    </div>
    <div>
        <strong>{{'MY_EMS_NAME' | translate}} V1.0.7</strong>
    </div>
</div>
